body {
    font-family: sans-serif;
    background: rgb(48, 235, 120);
    color: rgb(17, 9, 61);
}

label {
    display: block;
}

h1 {
    text-align: center;
    color: rgb(0, 17, 112);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecalhoCliente {
    text-align: center;
} 

.cabecalhoProduto {
    text-align: center;
} 

#cadastroCliente {
    text-align: center;
}

#cadastroProduto {
    text-align: center;
}

.buttonCliente {
    text-align: center;
}

.buttonProduto {
    text-align: center;
}
 
.cadastroCliente {
    border: 15px solid rgb(128, 0, 0);
}